/* HEADER */
header {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.title {
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    /* margin: 3%; */
}

/* LOGIN PROCESS */
.logo {
    display: flex;
    justify-content: space-around;
}
.check-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
form {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.userDetails{
    display: flex;
    flex-direction: row;
    margin-right: 2% !important;
}

.rememberMe {
    font-size: .3em;
}
#createUserLink {
    color: blue;
    text-decoration: underline;
    font-size: .4em;
    text-align: center;
}
#createUserLink:hover {
    color: darkblue;
    opacity: 0.8;
    cursor: pointer;
}
.signInGreeting {
    font-weight: bolder;
    font-variant-caps: all-petite-caps;
    text-align: center;
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
} 
.userInfo {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
   
}
.image-cropper{
    width: 50px;
    height: 50px;
  position: relative;
  margin-left: 5%;
  /* overflow: hidden; */
    border-radius:50%;
}
.profile-pic {
  width: 50px;
  height: 50px;
  border-radius:50%;
  
}
.profile-pic:hover{
    opacity: 0.8;
    cursor: pointer;
}
.artistImage{
    width: 50px;
    height: 50px;
  position: relative;
  margin-left: 5%;
  /* overflow: hidden; */
    border-radius:50%;
}
.artistImage:hover{
    opacity: 0.8;
    cursor: pointer;
}
.userName{
    align-self: flex-end;
}
.form-field{
    display: flex;
    justify-content: center;
}
.home-dash{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CREATE USER */

.fs-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.main-form{
    display: flex wrap;
    flex-direction: row wrap;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.create-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-btn{
    align-self: center;
}
.create-buttons{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
}
#haveAcctLink {
    color: blue;
    text-decoration: underline;
    font-size: .4em;
    text-align: center;
}
#haveAcctLink:hover {
    color: darkblue;
    opacity: 0.8;
    cursor: pointer;
}
.dashboardProjectItem {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

  @media only screen and (max-width: 800px) {
      
  }
  