/* GLOBAL */


/* HEADER */
header {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title {
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin: 3%; */
}

/* LOGIN PROCESS */
.logo {
    display: flex;
    justify-content: space-around;
}
.check-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: flex-start;
}
.option-checkbox {
    display: flex;
    align-self: flex-start;
    margin-top: 3px;
}
.rememberMe {
    font-size: .6em;
    flex-direction: column;
    display: flex;
    align-self: flex-start;
}
.button-container {
    display: flex;
    justify-content: space-around;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#createUserLink {
    color: #0E34A0;
    text-decoration: underline;
    font-size: .8em;
    text-align: center;
}
#createUserLink:hover {
    opacity: 0.8;
    cursor: pointer;
}
.signInGreeting {
    font-weight: bolder;
    font-variant-caps: all-petite-caps;
    text-align: center;
}
button:hover{
    opacity: 0.8;
    background-color: #D3D4D9;
    border-radius: 5px;
    cursor: pointer;
} 
.image-cropper{
    width: 200px;
    height: 50px;
    position: top;
    margin-left: 5%;
    border-radius:5%;
}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius:5%;
  
}
.profile-pic:hover{
    opacity: 0.8;
    cursor: pointer;
}
.userName{
    align-self: flex-end;
}
.form-field{
    display: flex;
    justify-content: center;
}
.home-dash{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CREATE USER */

.fs-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.main-form{
    display: flex wrap;
    flex-direction: row wrap;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.create-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-btn{
    align-self: center;
}
.create-buttons{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
}
#haveAcctLink {
    color: #0E34A0;
    text-decoration: underline;
    font-size: .8em;
    text-align: center;
}
#haveAcctLink:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* DASHBOARD */

.artistImage{
    width: 100%;
    position: top;
    /* margin: 5%; */
}
.artistImage:hover {
    opacity: 0.9;
    cursor: pointer;
}
.dashboardProjectItem {
    display: flex;
    margin: 0 2px;
    justify-content: space-around;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dashboardProjectItemName {
    width: 25%;
    font-weight: bold;
    font-size: .5em;
    margin-right: 10px;
}
.dashboardProjectItemDescription {
    width: 50%;
    font-size: .8em;
}
.dashboardProjectItemDeadline {
    width: 10%;
    font-size: .8em;
}
.dashboardProjectItemStatus {
    width: 20%;
    font-size: .8em;
}
.dashboardProjectItem:nth-child(even):hover {
    background-color: #E5ECFF;
    cursor: pointer;
}
.dashboardProjectItem:nth-child(odd):hover {
    background-color: #E5ECFF;
    cursor: pointer;
}
.dashboardProjectItem:nth-child(even) {
    background: #FFFFFF
}
.dashboardProjectItem:nth-child(odd) {
    background: #D3D4D9
}
.dashboardCardTitle {
    background-image: linear-gradient(white, #D3D4D9);
    font-size: 3em;
    padding: 20px 0;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-weight: bolder;
    font-stretch: ultra-expanded;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* ARTIST PAGES */

.artists {
    font-size: 5em;
}
.icon-container {
    display: flex;
    justify-content: flex-end;
}
.artistDetail {
    margin: 50px 100px;
        
}
.artistsCardHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.artists-list-icon-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px 20px 20px;
}
.artistCardTitle {

}
.subArtistCard {
    display: flex;
    justify-content: space-between;
    /* margin: 50px 20px 20px; */
}
.artistDetailsImage {
    width: 100%;
}
.container-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.artistsCard {
    margin: 0 10px;
        
}
.artistsCardTitle {
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 10px;
}
.artistsCardDetailTitle {
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 10px;
}
.subcardLink {
    font-weight: bold;
    font-size: .8em;
    margin-left: 2px;
}
.formgridItem {
    display: flex;
    flex-direction: column;
}
.subIcon-container {
    display: flex;
    margin: 20px 20px 0 100px;
    align-items: center;
    justify-content: flex-end;
}
.icon-header {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 20px 0 100px;
    align-items: center;
}
#artistEditFormBtn {
    margin-top: 10px;
}

/* PROJECT PAGES */

.projects {
    font-size: 5em;
}
.projectDetail {
    margin: 0 100px;
        
}
.project-editForm-icon-container {
    display: flex;
    justify-content: flex-end;
    margin: 50px 25px 0 0;
}
.projectDetailsImage {
    width: 100%;
}
.projectsCardTitle {
    font-weight: bolder;
    font-size: 2em;
    margin: 20px 0 6px;
}
.projectItemStatus {
    font-weight: bolder;
    font-size: 1em;
    display: flex;
    align-content: center;
}
.projectsCardContent {
    width: 100%;
    display: flex;
    
}
.projectCardSubIcons {
    display: flex;
    align-items: flex-end;
    flex-direction: row;

}
.project-icon-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 20px;
    align-items: baseline;
}
.artistImage{
    width: 100%;
    position: top;
    /* margin: 5%; */
}
.artistImage:hover, .artistImageCard:hover, .icon:hover {
    opacity: 0.9;
    cursor: pointer;
}
.dashboardCardTitle:hover, .artistsCardTitle:hover, .icon:hover {
    cursor: pointer;
}
.artistsCardDetailTitle:hover, .artists:hover {
    cursor: default;
}
.projectItem {
    display: flex;
    margin: 0 25px;
    justify-content: space-around;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.projectItemName {
    width: 25%;
    font-weight: bolder;
    font-size: .5em;
    margin-right: 10px;
}
.projectItemDescription {
    width: 50%;
    font-size: .5em;
}
.projectItemDeadline {
    width: 10%;
    font-size: .8em;
    display: flex;
    align-self: center;
}
.projectItemStatus {
    width: 20%;
    font-size: .8em;
    padding: 0 10px;
}
.projectsCard:nth-child(even):hover {
    background-color: #E5ECFF;
    cursor: pointer;
}
.projectsCard:nth-child(odd):hover {
    background-color: #E5ECFF;
    cursor: pointer;
}
.projectsCard:nth-child(even) {
    background: #FFFFFF
}
.projectsCard:nth-child(odd) {
    background: #D3D4D9
}
.projectCardSubIcons {
    display: flex;
    align-items: center;
}
.projectItemStatus, .d {
    display: flex;
    align-items: center;
}
.projectCardHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#projectEditFormBtn {
    margin-top: 10px;
}
.subArtistConnectCard {
    display: flex;
    justify-content: space-between;
}
.artistConnectCardContent {
    width: 200px;
}
.artistRemoveConnectIcon {
    display: flex;
    align-content: center;
}

  @media only screen and (max-width: 800px) {
      
  }
  